<!doctype html> 

<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/> 
  <title><%= index_title %></title>
</head>
<body>

<h2><%= index_title %></h2>
<% Aruba::Reporting.reports.keys.sort{|f1, f2| f1.title <=> f2.title}.each do |feature| -%>
  <h3><%= feature.title %></h3>
  <ul>
  <% Aruba::Reporting.reports[feature].each do |scenario, report_path| %>
    <li><a href="<%= report_path%>"><%= scenario.title %></a></li>
  <% end -%>
  </ul>
<% end -%>

</body>
