<!doctype html> 

<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="<%= '../' * depth %>css/earth-pygments.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="<%= '../' * depth %>css/console.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="<%= '../' * depth %>css/filesystem.css" type="text/css" media="screen, projection" />
</head>
<body>

<h2><%= title %></h2>

<div class="description">
<%= description %>
</div>

<h3>Files</h3>
<div class="filesystem">
  <%= files %>
</div>

<pre class="console">
<% commands.each do |cmd| -%>
⊛ <%= cmd %>
<% end -%>
<%= output %>
</pre>

</body>
